* {
    box-sizing: border-box;
  }
  .clearfix {
    overflow: auto;
  }
  /* styling header */
  header {
    /* background-image: linear-gradient(to bottom, white, #d9e4ea); */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("images/lemon.jpg");
    height: auto;
    background-position: center;
   /* background-repeat: no-repeat;
     background-size: cover; */
  }

  .icon-container {
  position: absolute;
  top: -10px;
    left: 585px;
    display: flex;


  }
  .icon li {
    float: right;
    margin: 5px;

  }
  .main-header {
      display: flex;
      justify-content: center;
      /* padding-bottom: 25px;
      border-bottom: solid .5px rgb(134, 133, 133);
      border-bottom-width: thin; */


  }

  .logo {
     color: rgb(43, 43, 43);
      font-family: 'Pacifico', cursive;
      font-size: 350%;
      text-align: center;
  }

  li {
      list-style-type: none;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-weight: bolder;
      margin: 0 auto;
      justify-content: center;
      color: black;
}
/* styling links in header*/
  a {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    color: #336699;
  }

   a:hover {
       /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
       color: white;
  text-shadow: 2px 2px 4px #000000;
   }
  /* styling links in header*/
  /* styling header */



  /* styling recipe gallery */
.main-recipe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  padding-top: 50px;
  padding-bottom: 50px;



}

.list {
  line-height: 2em;
  padding-bottom: 25px;
}


.pumpkin {
  justify-content: center;
  padding-bottom: 25px;
}

.instructions li {
  width: 30%;
  list-style-type: decimal;
}





  /* border: 1px solid #ccc; */
  /* float: right; */
  /* width: 250px; */
}

figure.gallery:hover {
  /* border: 1px solid #777; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

figure.gallery img {
  width: 100%;
   height: auto;
   width: 450px;
}




  /* styling recipe gallery */

  /* styling body */
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 43, 43);
    text-align: center;
    line-height: 1em;
  }

  p {
    font-family: 'lobster', cursive;
    line-height: 0;

  }

  .page-title {
      font-family: 'lobster', cursive;
      color: rgb(43, 43, 43);
      font-size: 48px;
      padding-top: 30px;
  }

  /* styling images*/
  img {
    max-width: 100%;
    height: auto;
    width: 400px;
    border-radius: 8px;
    padding-bottom:0;
  }


  img:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* styling images*/

  /* styling footer*/
  .main-footer {

      background-image: linear-gradient(to top, white, #d9e4ea);
        padding: 2em 0;
        margin-top: 30px;
        text-align: center;

    }
    /*styling footer*/

    @media only screen and (max-width: 600px) {
        .list {
          width: 100%;
        }

        .pumpkin {
          padding-left: 5px;
          padding-right: 5px;
        }
   }

     @media only screen and (max-width: 989px) {

      /* .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
 }
        figure.gallery img {
          width: 800px;
        } */
 }

     @media only screen and (max-width: 1584px) {
       /* .gallery-container {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         padding-top: 50px;
         padding-left: 10px;
         padding-right: 10px;
           }

     figure.gallery img {
       width: 300px;
     } */


 }
