* {
    box-sizing: border-box;
  }
  .clearfix {
    overflow: auto;
  }
  /* styling header */
  header {
    /* background-image: linear-gradient(to bottom, white, #d9e4ea); */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("images/lemon.jpg");
    height: auto;
    background-position: center;
   /* background-repeat: no-repeat;
     background-size: cover; */
  }

  .icon-container {
  position: absolute;
  top: -10px;
    left: 585px;
    display: flex;


  }
  .icon li {
    float: right;
    margin: 5px;

  }
  .main-header {
      display: flex;
      justify-content: center;
      /* padding-bottom: 25px;
      border-bottom: solid .5px rgb(134, 133, 133);
      border-bottom-width: thin; */


  }

  .logo {
     color: rgb(43, 43, 43);
      font-family: 'Pacifico', cursive;
      font-size: 350%;
      text-align: center;
  }

  li {
      list-style-type: none;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-weight: bolder;
      margin: 0 auto;
      justify-content: center;
      color: black;
}
/* styling links in header*/
  a {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }

   a:hover {
       /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
       color: white;
  text-shadow: 2px 2px 4px #000000;
   }
  /* styling links in header*/
  /* styling header */



  /* styling recipe gallery */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding-top: 50px

}

  figure.gallery {
  margin: 10px;

  /* border: 1px solid #ccc; */
  /* float: right; */
  /* width: 250px; */
}

figure.gallery:hover {
  /* border: 1px solid #777; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

figure.gallery img {
  width: 100%;
   height: auto;
}

figure {
	margin: 0;
	line-height: 0;
  position: relative;
  text-align: center;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(220, 237, 33, 0.81);
  position: absolute;
  bottom: 0;
  width: 100%;
}

  /* styling recipe gallery */

  /* styling body */
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 43, 43);
    text-align: center;
  }

  p {
    font-family: 'lobster', cursive;

  }

  /* styling images*/
  img {
    max-width: 100%;
    height: auto;
    width: 600px;
    border-radius: 8px;
    padding-bottom:0;
  }
  img:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* styling images*/
